@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rajdhani:wght@300;400;500;600;700&family=Teko:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --vermelho-padrao: #ff4654;
    --vermelho-secundario: #ba3a46;
    --fundo: #0B0B0F;
    --preto-hover: #18181B;
    --destaque: #1A1A1A;
    --dourado: #C5B174;
    --off-white: #ECE8E1;
    --texto: #B9B9B9;
    --icons: #5E5E5E;
    --vermelho-borda: #BD3944;
    --borda-premium: 3px solid #C5B174;
    --borda: 2px solid #FFFFFF10;
    --hover-premium: #E4CF7A;
    --font-primary: 'Inter', sans-serif;
    --font-title: 'Montserrat', sans-serif;
    --font-stats: 'Teko', sans-serif;
}

body {
    margin: 10px;
    height: 100%;
    border: var(--borda);
    border-radius: 8px;
    background-color: var(--fundo);
    box-shadow: 0 0 20px 5px #FFFFFF10;
    font-family: var(--font-primary);
    color: var(--texto);
    text-transform: uppercase;
}

section {
    margin: 10px 0;
}

button.view-all {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: var(--borda);
    padding: 2px;
    color: var(--texto);
    font-family: var(--font-primary);
    text-transform: uppercase;
    transition: 0.2s;
}

button.view-all:hover {
    color: var(--hover-premium);
    border-color: var(--hover-premium);
    background-color: var(--preto-hover);
}

/*----Global Utility----*/

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.bar {
    border: var(--borda);
}

.bar.gold {
    border: var(--borda-premium);
}

/*----Side Bar----*/

.sidebar {
    display: flex;
    flex-direction: column;
    border-right: var(--borda);
    border-radius: 8px;
    user-select: none;
}

.logo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 5px;
}

.logo-box h1 {
    color: var(--dourado);
    font-family: 'Rajdhani';
    font-weight: 800;
}

.logo-box p {
    color: var(--dourado);
}

.logo-box img {
    width: 50px;
}

.side-item {
    display: flex;
    padding: 10px 10px;
    gap: 20px;
    transition: 0.2s ease;
}

.side-item:hover{
    background-color: var(--preto-hover);
}

.side-item.selected {
    color: var(--dourado);
    border-left: var(--borda-premium);
    background-color: var(--preto-hover);
}

/*----Main Page----*/

#dashboard {
    width: 100%;
    padding: 10px;
}

/*----Top Bar----*/

.topbar {
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
    border-bottom: var(--borda);
    padding: 10px;
}

.gap {
    gap: 10px;
}

.topbar input {
    color: var(--texto);
    background: none;
    border: var(--borda);
    border-radius: 4px;
    font-size: 0.625rem;
    padding: 0.5rem;
    padding-left: 25px;
}

.box-search {
    position: relative;
}

.box-search i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/*----Highlights----*/

.keypoint-box {
    display: flex;
    align-items: center;
    border: var(--borda);
    border-bottom: var(--borda-premium);
    padding: 1rem;
    color: var(--dourado);
    gap: 0.625rem;
}

/*----MVP----*/

.box {
    padding: 10px;
    border: var(--borda);
}

.mvp-icon {
    height: 200px;
    width: 200px;
    border: var(--borda);
    border-bottom: var(--borda-premium);
    object-fit: cover;
}

.mvp-overview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.team-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.box.stats {
    width: 130px;
    border-bottom: var(--borda-premium);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*----MVP's Graph----*/

.box.mvp-graph {
    width: 100%;
}

canvas {
    width: 100%;
}

.btn-group {
    display: flex;
}

.btn-group button {
    background-color: var(--fundo);
    color: var(--texto);
    border: 3px solid transparent;;
    padding: 8px 16px;
    cursor: pointer;
    font-family: var(--font-primary);
    transition: 0.2s;
}

.btn-group button:first-child {
    border-radius: 6px 0 0 6px;
}

.btn-group button:last-child {
    border-radius: 0 6px 6px 0; 
}

.btn-group button.active {
    color: var(--dourado);
    background-color: var(--preto-hover);
    border: var(--borda-premium);
}

.btn-group button:hover {
    background-color: #444444;
}

/*---Statistics---*/

/*----Table----*/

table.statistics {
    border-collapse: collapse;
    width: 100%;
}

table.statistics th {
    border-bottom: var(--borda);
}

table.statistics td, table.statistics th {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}

table.statistics td img {
    vertical-align: middle;
}

/*----Players Statistics----*/
